!!!
%html{lang: "en", dir: "ltr"}
  %head
    = partial 'partials/head'
  %body{class: page_classes}
    / Skip to main content link
    %a.skip-link{href: "#main-content", tabindex: "0"}
      Skip to main content
    
    %header{role: "banner"}
      = partial 'partials/nav'
    
    %main#main-content{role: "main", tabindex: "-1"}
      = yield
    
    = partial 'partials/footer'
    = javascript_include_tag "bundle"

