%footer
  .copyright
    © Copyright 2006-#{Date.today.year} Norman Orstad. 
    %br All Rights Reserved.
  .connections
    %ul
      %li= link_to "work", "#work"
      %li= link_to "capabilities", "#capabilities"
      %li= link_to "about", "#about"
    %ul
      %li= link_to "dribbble", "//dribbble.com/norm0", target: "_blank"
      %li= link_to "twitter", "//twitter.com/norm0", target: "_blank"
      %li= link_to "linkedIn", "//linkedin.com/in/norm0/", target: "_blank"
      %li= link_to "github", "//github.com/norm0", target: "_blank"