%section.container#intro
  %h1 Norm Orstad here! 
  %h2 I speak digital.
  %p Product designer looking for my next full-time role. I’ve designed & built products and websites for over 15 years. See my work and capabilities. 

  = link_to "About me →", "#about" 


%section.container#work
  %h2 Work
  %ul
    %li 
      %h3 Tree Builder
      %p Workflow and automation builder for enterprise
      = link_to "View Project →", "#" 
    %li 
      %h3 KEG
      %p Not the barrel but a conference for enthusiasts.
      = link_to "View Project →", "#" 
    %li 
      %h3 Service Catalogs
      %p Requests and services in an enterprise storefront.
      = link_to "View Project →", "#" 
    %li 
      %h3 MixMobi
      %p Mobile promotions and real-time reporting
      = link_to "View Project →", "#" 

%section.container#capabilities
  %h2 Capabilities
  %h3 Design
  %ul
    %li Product Design
    %li UI/UX Design
    %li Wireframing
    %li User research
    %li Prototyping
    %li Logos & Branding
    %li Social Media, email, ads
    %li Promotion & print

  %h3 Development
  %ul
    %li HTML/CSS
    %li Ruby on Rails
    %li Middleman
    %li Gatsby.js
    %li ReactJS
    %li JavaScript

%section.container#clients
  %h2 Client List
  %ul
    %li HP
    %li Belkin
    %li American Heart Association
    %li Catholic Healthcare West

%section.container#about
  %h2 About me
  %p I am a digital product designer, living near Minneapolis, Minnesota. I’ve spent the last 15 years at agencies, startups and software companies. 

  %p Building a website from cradle to grave has been my sweet spot as a designer and developer. 

  %p You can check out some of my past projects on Dribbble. Connect socially on Twitter. Read my full resume on LinkedIn. Or if you like, you can send me an email. Geek out on github.
