

%section#intro
  %div
    %h1 Norm Orstad here! 
    %h2 I speak digital.
    %p 
      Product designer looking for my next full-time role. I’ve designed & built products and websites for over 15 years. See my 
      = link_to "work", "#work" 
      and 
      = link_to "capabilities", "#capabilities"
      \.  

    = link_to "About me →", "#about", class: "btn btn-primary"
  %div.hero
    = image_tag("assets/images/me-2019-700.png")

%section#work
  %h2 Work
  .cards
    .card.card-work.card-work--tree
      .card-body
        %h3 Tree Builder
        %p Workflow and automation builder for enterprise
        -# = link_to "View Project →", "#", class: "btn btn-primary btn-md"
      .card-image= image_tag "screenshot-tree.png", class: "work-thumbnail", alt: "Tree builder"
    .card.card-work.card-work--keg 
      .card-body
        %h3 KEG
        %p Not the barrel but a conference for enthusiasts.
        -# = link_to "View Project →", "#", class: "btn btn-primary btn-md" 
      .card-image= image_tag "screenshot-keg.png", class: "work-thumbnail", alt: "KEG 2018"
    .card.card-work.card-work--catalogs 
      .card-body
        %h3 Service Catalogs
        %p Requests and services in an enterprise storefront.
        -# = link_to "View Project →", "#", class: "btn btn-primary btn-md" 
      .card-image= image_tag "screenshot-catalog.png", class: "work-thumbnail", alt: "Service Catalogs"
    .card.card-work.card-work--mixmobi
      .card-body
        %h3 MixMobi
        %p Mobile promotions and real-time reporting
        -# = link_to "View Project →", "#", class: "btn btn-primary btn-md" 
      .card-image= image_tag "screenshot-mixmobi.png", class: "work-thumbnail", alt: "MixMobi screenshot"

%section#capabilities
  %h2 Capabilities
  .block-wrapper
    .block
      %h3 Design
      %ul
        %li Product Design
        %li UI/UX Design
        %li Wireframing
        %li User research
        %li Prototyping
        %li Logos & Branding
        %li Social Media, email, ads
        %li Promotion & print
    .block
      %h3 Development
      %ul
        %li HTML/CSS
        %li Ruby on Rails
        %li Middleman
        %li Gatsby.js
        %li ReactJS
        %li JavaScript

%section#clients
  %h2 Client List
  .card-deck
    .card.card-clients.card-clients--hp
      = inline_svg "hp-logo-2012.svg" 
    .card.card-clients.card-clients--belkin 
      = inline_svg "belkin_logo.svg" 
    .card.card-clients.card-clients--aha 
      = inline_svg "aha-logo-k.svg" 
    .card.card-clients.card-clients--dignity 
      = inline_svg "dignity-health-logo.svg" 
  %p.text-center.mt-3  (2010-2014)

%section#about
  %h2 About
  %p I am a digital product designer, living near Minneapolis, Minnesota. I’ve spent the last 15 years at agencies, startups and software companies. 

  %p Building a website from cradle to grave has been my sweet spot as a designer and developer. 

  %p 
    You can check out some of my past projects on 
    = link_to "dribbble", "//dribbble.com/norm0", target: "_blank"
    \. 
    Connect socially on 
    = link_to "twitter", "//twitter.com/norm0", target: "_blank"
    \. 
    Read my full resume on 
    = link_to "linkedIn", "//linkedin.com/in/norm0/", target: "_blank"
    \. 
    Or if you like, you can send me an 
    = link_to "email", "mailto:norman@orstad.com"
    \. 
    Geek out on 
    = link_to "github", "//github.com/norm0", target: "_blank"
    \. 
